:root {
    --base-font: "JetBrains Mono", sans-serif;
    --fancy-font: "Playwrite HR";
    --text-color: rgb(0, 0, 0);
    --link-color: rgb(255, 255, 255);
    --primary-color: rgb(209, 103, 121);
    --primary-color-darker: rgb(170, 81, 96);
    --primary-color-shadow: #8a3e4b;
    --primary-color-hover: rgb(141, 60, 73);
    --primary-color-border: rgb(84, 43, 49);
    --background-color: rgb(231, 231, 231);
    --background-color-shadow: rgb(189, 189, 189);
    --button-color: #445fa8;
    --button-color-hover: rgb(47, 63, 104);
    --border-radius: 2px;
    --background-gradient: linear-gradient(to bottom, var(--valid-color), var(--primary-color), var(--button-color));
    --valid-color: rgb(202, 208, 225);
    --invalid-color: rgb(213, 200, 202);
    --min-width: 360px;
    --border-radius: 8px;
    --border-1: 2px solid var(--background-color-shadow);
    --border-button: 2px solid var(--button-color-hover);
    --border-primary: 2px solid var(--primary-color-border);
}

body {
    font-family: var(--base-font);
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-image: var(--background-gradient);
    min-width: var(--min-width);
}

nav {
    color: #fff;
    top: 0px;
    position: sticky;
    background-color: var(--primary-color);
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    max-width: 1750px;
    margin: auto;
}

a {
    color: var(--link-color);
    font-size: 1em;
    text-align: left;
    padding: 20px 1em 20px 3em;
    width: 100%;
    white-space: nowrap;
    flex: 0;
    transition: padding 0.5s, background-color 0.25s;
}

.hidden {
    display: none;
}

nav>a {
    border-bottom: var(--border-primary);
    background-color: var(--primary-color-darker);
}

nav a:first-child {
    text-decoration: none;
    padding: 0px;
}

#active {
    background-color: var(--primary-color-shadow);
}



/* nav a:nth-child(even) {
    background-color: var(--primary-color-shadow);
} */

#logo-nav-container {
    text-align: left;
    width: 100vw;
    min-width: var(--min-width);
    margin: 0.5em;
}

#menu-button {
    border: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    height: 4em;
    width: 4em;
    background-color: var(--primary-color-shadow);
    padding: 0px;
}

#menu-button img {
    width: auto;
    height: 100%;
    background-color: transparent;
    margin-left: 1px;
    padding: 0px;
}

#scoots-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: var(--fancy-font);
    font-size: 2em;
    width: 100%;
}

#scoots-logo img {
    height: 1.5em;
    width: auto;
}

.icon {
    filter: brightness(200%);
}

#advisory-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#heat-advisory {
    background-color: var(--background-color);
    margin: 0;
    border: var(--border-1);
    position: relative;
    flex: 1;
    max-width: 1500px;
}

#heat-advisory button {
    border-radius: var(--border-radius);
    border: var(--border-button);
    padding: 3px 0 0 0;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 4;
    font-size: medium;
}

#heat-advisory div:nth-child(2) {
    padding: 2em;
}

#heat-advisory p {
    padding-right: 4em;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#hero-picture {
    width: 100%;
    height: 400px;
    max-width: 1500px;
    object-fit: cover;
    grid-area: 1/1/2/2;
    margin: 1em auto 0 auto;
    box-shadow: 0 0 4em var(--background-color);
}

#hero-image {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    object-fit: cover;
}

#hero-description {
    grid-area: 1/1/2/2;
    width: 80vw;
    max-width: 500px;
    padding: 1em;
    text-align: left;
    border: var(--border-1);
}

.card {
    text-align: left;
    margin: auto;
    padding: 0px 1em;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border: var(--border-1);
}

.button {
    border: var(--border-button);
    background-color: var(--button-color);
    color: #fff;
    padding: 0.5em;
    display: block;
    max-width: 220px;
    min-width: 220px;
    margin: 1em auto;
    text-align: center;
    transition: background-color 0.25s;
    border-radius: var(--border-radius);
}

section.card {
    padding: 1em;
    margin: 1em 0px;
}

.contact-list li {
    text-align: left;
    padding: 0.5em;
    width: 100vw;
    min-width: var(--min-width);
    text-wrap: pretty;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.social-links a {
    padding: 0px;
}

.social-links img {
    filter: invert(37%) sepia(16%) saturate(1411%) hue-rotate(300deg) brightness(104%) contrast(100%);
    height: 3em;
    width: auto;
    padding: 1em;
    flex: 1;
}

#attribution-link {
    color: var(--text-color);
    text-align: left;
    padding: 1em 0px;
}

footer {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 4em;
    grid-template-rows: 1fr;
    background-color: var(--background-color);
    max-width: 1750px;
    margin: auto;
}

footer ul.contact-list {
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    margin: auto 0px;
}

footer div.social-links {
    grid-area: 1/2/2/3;
    flex-direction: column;
}

footer div.social-links img {
    height: 2em;
    width: auto;
    padding: 0.5em;
}

#reservation-contents ul {
    background-color: var(--background-color);
    border: var(--border-1);
    margin: 2em 0;
    padding: 1em;
    text-align: left;
}

#reservation-contents li {
    padding: 0.3em 0px;
}

.form {
    border: var(--border-1);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    margin: 2em 0;
    padding: 1em;
    max-width: 1500px;
}

.form fieldset {
    border-radius: var(--border-radius);
    border: var(--border-1);
    margin: 2em 0;
}

label {
    font-family: var(--base-font);
    margin-top: 2em;
    display: block;
}

.form input,
.form textarea {
    border-radius: var(--border-radius);
    font-family: var(--base-font);
    resize: vertical;
    display: block;
    padding: 0.25em 1em;
    width: 75vw;
    max-width: var(--min-width);
    border: var(--border-1);
    margin-top: 0.5em;
    min-height: 44px;
}

.form input[type="checkbox"] {
    width: 40px;
    height: 40px;
}

.form button,
input[type="submit"] {
    border: var(--border-button);
    text-align: center;
    margin: 1em 0.3em;
    width: 75vw;
    max-width: var(--min-width);
    color: #fff;
}

h1,
h2 {
    margin: auto;
    text-align: center;
    font-family: var(--base-font);
    max-width: 10em;
    border-radius: var(--border-radius);
    font-size: larger;
}

h1 {
    margin-top: 1em;
    background-color: var(--background-color);
    border: var(--border-1);
    padding: 0.5em;
    font-size: x-large;
}

#rental-gallery {
    padding: 1em;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    text-align: center;
    background-color: var(--background-color);
    border: var(--border-1);
    margin: 2em 0;
}


#rental-gallery div.slide {
    grid-area: 1 / 1 / 2 / 4;
    display: none;
    position: relative;
}


#rental-gallery div.slide.active {
    display: block;
}

#rental-gallery div.caption {
    position: absolute;
    top: 1em;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: var(--background-color);
    width: 200px;
    border: var(--border-1);
    border-radius: var(--border-radius);
}

.slide img {
    max-height: 455px;
    height: 100%;
    max-width: 70vw;
    margin: auto;
    object-fit: cover;
    text-align: center;
    border: var(--border-1);
    border-radius: var(--border-radius);
}

#rental-gallery button {
    width: 100%;
    height: 50%;
    z-index: 2;
    margin: auto;
    background-color: var(--button-color);
    color: var(--background-color);
    border: var(--border-button);
    transition: background-color 0.25s;
}


input:invalid,
textarea:invalid {
    background-color: var(--invalid-color)
}

input:not([type="submit"]):valid,
textarea:valid {
    background-color: var(--valid-color);
}

#next {
    grid-area: 1 / 3 / 2 / 4;
}

#next:before {
    content: ">";
}

#prev {
    grid-area: 1 / 1 / 2 / 2;
}

#prev:before {
    content: "<";
}

#maps iframe {
    width: 100%;
    padding: 0;
    border: var(--border-1);
}

#contact-info {
    background-color: var(--background-color);
    padding: 1em;
    line-height: 2;
}

#contact section {
    max-width: 600px;
    margin: auto;
}

#contact a.button {
    max-width: 300px;
}

.inline-link {
    margin: 0px;
    padding: 0 5px;
    width: auto;
    height: auto;
    font-style: italic;
    background-color: var(--button-color);
    display: inline;
}

lip>a:not(.inline-link):not(.button),
p>a:not(.inline-link):not(.button) {
    color: var(--primary-color-border);
    text-decoration: underline;
    padding: 0;
}

#alert-button {
    background-color: var(--button-color);
    color: var(--background-color);
    position: absolute;
    top: 0px;
    right: 0.5em;
    width: 2.5em;
    height: 2.5em;
    grid-row: 1/2;
    transition: background-color 0.25s;
    border: none;
}

section {
    border-radius: var(--border-radius);
    border: var(--border-1);
    background-color: var(--background-color);
    padding: 1em;
}

table {
    overflow: hidden;
    border-radius: var(--border-radius);
    border: var(--border-1);
    background-color: var(--background-color);
    margin: 1em auto;
    position: relative;
    caption-side: top;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

td:not([colspan="2"]) {
    border: var(--border-button);
    padding: 0.5em 0;
}

tr:nth-child(even):not(:first-child) {
    background-color: var(--background-color);
}

tr:nth-child(odd):not(:first-child) {
    background-color: var(--background-color-shadow);
}

#maps,
#contact-info {
    max-width: 1500px;
    margin: 1em auto;
}

iframe {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 1em auto;
}

#rental-contents {
    width: 100vw;
    min-width: var(--min-width);
}

#rental-contents section.card {
    text-align: left;
    line-height: 2;
}

#rental-contents div.card {
    margin-bottom: 2em;
}

#rental-table {
    max-width: 100vw;
    min-width: var(--min-width);
}

#weather {
    text-align: center;
}

#weather-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: 1em auto;
}

#weather-info {
    border: var(--border-1);
    border-radius: var(--border-radius);
}

#weather-info div {
    padding: 0.5em;
}

#weather-desc {
    background-color: var(--background-color-shadow);
    padding: 0.5em;
    border: var(--border-1);
    border-radius: var(--border-radius);
}

.weather-desc-item {
    display: flex;
    align-items: center;
}

footer.sticky {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

main p.attribute-message {
    width: 100vw;
    max-width: 300px;
    margin: 1em auto;
    padding: 1em 0.5em;
    min-width: var(--min-width);
    text-align: center;
}