@media screen and (max-width: 900px) {
    main {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .card p,
    a {
        font-size: 1em;
    }

    #card1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #card2 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #card3 {
        grid-row: 3/4;
        grid-column: 1/3;
    }
}