@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #457B9D;
    --secondary-color: #446980;
    --background-color: #ffffff;
    --text-color: #0D1321;
    --border-color: #39586a;
    --complementary-color: #F2AF29;
    --complementary-color-other: #dc9b1a;
    --complementary-color-shadow: #ab7f27;
    --legend-border-color: #2a414e;
    --required-accent-color: #FFDF9E;
    --valid-color: #C6DBC2;
    --invalid-color: #FFCCCC;
    --other-background: #ebf8ff;
    --weather-gradient-color: #bbc5cb;
    --border-radius: 4px;
    --border-radius-larger: 6px;
    --banner-color: #efeec0;
    --banner-border-color: #b3b286;
    --banner-button-hover-color: #606049;
}

/* Hamburger Menu*/

.open {
    display: none;
}

#menu-button.open {
    display: block;
}

#menu-button.open::before {
    content: "☰";
}

body {
    font-family: Roboto sans-serif;
    width: 100vw;
}

header {
    z-index: 2;
    position: sticky;
    top: 0;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

nav {
    z-index: 2;
    position: sticky;
    top: 75px;
    text-align: center;
    height: auto;
}

header {
    height: 75px;
    display: grid;
    grid-template-columns: auto 1fr 100px 75px;
    color: var(--background-color);
}

header p {
    grid-column: 2/3;
    text-align: center;
    padding: 5px;
}

header div {
    margin: auto;
    text-align: center;
}

header div p {
    margin: 0px;
}

header,
nav {
    background-color: var(--primary-color);
}

nav a {
    display: block;
    color: var(--background-color);
    border-top: solid 1px var(--border-color);
    background-color: var(--secondary-color);
    padding: 15px;
}

nav :last-child {
    border-bottom: solid 1px var(--border-color);
}

nav a:hover {
    background-color: var(--border-color);
}

#logo-img {
    filter: brightness(50%);
}

#menu-button {
    color: var(--background-color);
    background-color: transparent;
    font-size: xx-large;
    border: 0px;
    height: 100%;
    padding-bottom: 15px;
}

#menu-button::before {
    content: "X";
}

#menu-button:hover {
    color: var(--border-color);
}

#dark-mode-button {
    border-radius: var(--border-radius);
    border: none;
    padding: 5px;
}

#site-icon {
    display: block;
    width: 100px;
    height: 75px;
}

#site-icon img {
    object-fit: cover;
    width: 100px;
    height: 75px;
    max-width: 1000px;
    max-height: 1000px;
}

img {
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}

/* HERO SECTION */

#landing-info {
    display: grid;
    width: 100%;
    height: 400px;
    min-height: 400px;
    text-align: center;
}

#hero-picture {
    grid-area: 1 / 1 / 2 / 2;
}

#hero-image {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 400px;
}

#hero-attribution-container {
    text-align: left;
    max-height: 40px;
}

#site-name {
    font-size: large;
    color: var(--text-color);
    /* color: var(--secondary-color); */
}

#landing-text {
    background-color: var(--background-color);
    grid-area: 1 / 1 / 2 / 2;
    padding: 5%;
    margin: auto 10%;
    height: auto;
}

#landing-text p {
    margin-bottom: 20px;
    text-align: left;
    color: var(--text-color);
}

#call-to-action {
    color: var(--text-color);
    background-color: #F2AF29;
    padding: 10px;
    margin: 50px;
}

#call-to-action:hover {
    background-color: var(--complementary-color-shadow);
}

a {
    text-decoration: none;
}

#banner {
    background-color: var(--banner-color);
    width: 90vw;
    color: var(--legend-border-color);
    border: 2px solid var(--banner-border-color);
    box-shadow: none;
    margin: 2em auto 0px auto;
    padding: 0px;
    max-width: 40em;
}

#banner.hidden {
    display: none;
}

#banner div {
    position: relative;
    background-color: var(--banner-border-color);
    width: auto;
    padding: 1em;
    text-align: center;
}

#banner button {
    border-radius: var(--border-radius);
    background-color: var(--banner-border-color);
    border: 2px solid var(--banner-button-hover-color);
    position: absolute;
    top: -2px;
    right: -2px;
    height: 62px;
    width: 62px;
}

#banner button:hover {
    background-color: var(--banner-button-hover-color);
}

#banner p {
    color: var(--legend-border-color);
    padding: 1em;
}

/* Current Events */

#events-section {
    background-color: var(--background-color);
}

#event-card-container {
    display: flex;
    flex-direction: column;
}

.card {
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px var(--secondary-color);
    background-color: var(--primary-color);
    margin: 1em;
    color: var(--background-color);
    font-size: larger;
    padding: 0.5em;
    border: 2px solid var(--border-color);
}

.card img {
    border-radius: var(--border-radius);
    object-fit: contain;
    height: auto;
}

.event-card img {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    max-height: 40vw;
}

/* Spotlight Members Section */

#spotlight-members-section {
    background-color: var(--secondary-color);
}

#spotlight-members-section h2 {
    color: var(--background-color);
}

#member-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.member-card,
.member-card p {
    background-color: var(--background-color);
    text-align: center;
    color: var(--border-color);
    font-size: larger;
    font-family: Oswald sans-serif;
}

.member-card img {
    width: 70%;
    height: 10vh;
    max-width: none;
    max-height: none;
}

/* 7-day Weather Section */

#weather-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

#daily-weather-info {
    max-width: 25em;
    width: 85vw;
    min-width: 0px;
    margin: 1em auto;
    background: linear-gradient(to bottom, var(--complementary-color-other) 33%, var(--complementary-color) 66%);
}

#daily-weather-info h2 {
    padding: 0.5em;
    color: #fff;
}

#daily-weather-info.dark h2.dark {
    padding: 0.5em;
    color: #fff;
}

#daily-weather-info div.weather-card {
    padding: 0px;
    min-width: 0px;
}

#daily-weather-info div.weather-card img {
    border-radius: 0px;
    top: -2px;
    right: -2px;
}

.weather-card {
    overflow: hidden;
    position: relative;
    border: 2px solid var(--complementary-color-shadow);
    box-shadow: none;
    counter-increment: weather 1;
    flex: auto;
    margin: 10px;
    background-color: var(--complementary-color);
    min-width: 20em;
    border-radius: var(--border-radius);
}

.weather-card.dark div.dark {
    color: #fff;
}

.weather-card div {
    color: var(--background-color);
    background: linear-gradient(to right, var(--complementary-color-other) 33%, var(--complementary-color) 66%);
    padding: 0.5em;
}

.weather-card div:nth-child(odd) {
    background-color: var(--complementary-color-shadow);
    background: linear-gradient(to right, var(--complementary-color-shadow) 33%, var(--complementary-color) 66%);
}

.weather-card img {
    padding: 1em;
    position: absolute;
    background: radial-gradient(var(--weather-gradient-color), var(--background-color));
    border-bottom-left-radius: var(--border-radius);
    top: 0px;
    right: 0px;
}

/* Footer */

footer {
    background-color: #39586a;
    padding: 20px;
}

h2 {
    font-family: Oswald;
    color: var(--border-color);
    text-align: center;
    margin: 0px;
    padding: 40px;
}

footer p {
    color: var(--background-color);
}

#last-modified {
    color: var(--background-color);
    text-align: center;
}

/* DISCOVER */

body {
    background-color: var(--background-color);
}

#discover {
    /* padding: 10px; */
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-radius: var(--border-radius);
}

.discover-card {
    border-radius: var(--border-radius);
    position: relative;
    height: 100%;
    width: 100%;
}

.caption,
.attribution {
    border-radius: var(--border-radius);
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px;
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
}

.attribution {
    padding: 5px;
    top: auto;
    left: auto;
    bottom: 15px;
    right: 15px
}

.discover-card>img {
    width: 100%;
    height: auto;
    max-width: none;
    max-height: 40vh;
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
}


#discover-img-container {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100vh;
    grid-column: 2/3;
}

#discover-side-1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.discover-side p {
    font-size: larger;
    padding: 0px;
    margin: 0px;
    color: var(--text-color);
    text-align: left;
}

.discover-side>div {
    border-radius: var(--border-radius);
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
    margin: 5%;
    padding: 5%;
}


.discover-side {
    border-radius: var(--border-radius);
    text-align: center;
    border: 2px solid var(--border-color);
    background-color: var(--secondary-color);
}

#discover-side-1>div {
    padding: 1%;
}

#event-header {
    position: relative;
    width: 100%;
    height: 100%;
}

#event-header img {
    border-radius: var(--border-radius);
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: none;
    max-height: none;
}


#discover-description {
    color: var(--text-color);
    text-align: left;
}

.discover-side>h3 {
    color: var(--background-color);
}

#discover-header {
    margin: 20px;
    color: var(--border-color);
    text-align: center;
}

/* Join form CSS */

h1#membership {
    text-align: center;
    margin: auto;
    padding-top: 1em;
}

#form-grid {
    margin: auto;
}

.wf1 {
    background-color: var(--border-color);
    margin: 2em;
    padding: 1rem;
    color: var(--background-color);
    border-radius: 10px;
    min-width: 300px;
}

.wf1 fieldset {
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
    border: 2px solid var(--background-color);
}

.wf1 legend {
    padding: .5rem;
    background-color: var(--secondary-color);
    box-shadow: 5px 5px 5px var(--legend-border-color);
    border-radius: 6px;
    border: 2px solid var(--legend-border-color);
}

.wf1 textarea {
    display: block;
}

.wf1 input {
    padding: .75rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="tel"] {
    display: block;
    width: 50%;
    max-width: 300px;
    border-radius: 6px;
    min-width: 200px;
}

.wf1 input:required {
    border-left: 8px solid var(--invalid-color);
}

.wf1 input:required:valid {
    border-left: 8px solid var(--valid-color);
}

.wf1 input[type="radio"] {
    margin: .8rem;
    accent-color: var(--required-accent-color);
    width: 1em;
    height: 1em;
}

.wf1 label {
    display: block;
    margin-top: 1rem;
}

.required::before {
    content: "*";
    color: var(--required-accent-color);
}

.wf1 textarea {
    resize: none;
    width: 97%;
    padding: 1%;
    margin: 0px;
    border-radius: 6px;
}

.wf1 h2 {
    margin: 0px;
    padding: 1rem;
    text-align: left;
    color: var(--background-color);
}

#submit-button {
    padding: 1rem;
    margin: .5rem 1rem;
    background-color: var(--complementary-color);
    border-radius: 6px;
    border: 2px solid var(--complementary-color-shadow)
}

#submit-button:hover {
    background-color: var(--complementary-color-shadow);
}

#form-grid>div {
    background-color: var(--border-color);
    margin: 2em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.description-card h2,
p {
    padding: 0px;
    color: var(--background-color);
}

.description-card {
    margin: 2em;
    padding: 1em;
    flex-grow: 1;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 2px solid var(--background-color);
}

.description-card p {
    font-size: 1.25em;
}

#form-thanks {
    text-align: center;
    padding: 4em;
}

/* Directory */

#directory-card-container {
    border-radius: var(--border-radius-larger);
    margin: 2em auto;
    width: 75vw;
    height: 100%;
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    padding-bottom: 1em;
}

#directory-card-container>h1 {
    text-align: center;
    color: var(--background-color);
    padding: 1em;
    margin: 0px;
}

#directory-card-container>div {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: grid;
}

#directory-card-container.column>div {
    display: flex;
    flex-direction: column;
}

.directory-card {
    border-radius: var(--border-radius-larger);
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    padding: 1em;
    margin: 1em;
    text-align: center;
    color: var(--text-color);
}

.directory-card.column {
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0px 1em;
    border-top: none;
    border-bottom: none;
}

.directory-card.column>h2,
.directory-card.column>p {
    text-align: left;
    color: var(--border-color);
    font-family: "Roboto";
    font-size: large;
    font-weight: normal;
    border: none;
    padding: 0px;
    margin: 0px;
    padding: .5em 0px;
}

.directory-card.column>a {
    text-align: left;
    font-family: "Roboto";
    font-size: large;
    font-weight: normal;
    padding: .5em 0px;
    margin: 0px;
    color: var(--secondary-color);
}

.directory-card.column:first-child {
    border-top: 2px solid var(--border-color);
}

.directory-card.column:last-child {
    border-bottom: 2px solid var(--border-color);
}

.directory-card.column:nth-child(even) {
    background-color: var(--other-background);
}

.directory-card p,
.directory-card a {
    color: var(--text-color);
    margin: 1em 0px;
}

.directory-card a {
    text-decoration: underline;
    color: var(--border-color);
}

.directory-card>h2 {
    border-bottom: 2px solid var(--border-color);
    padding: .25em .25em 1em .25em;
    margin-bottom: 2em;
}

.directory-card img {
    border-radius: var(--border-radius);
    max-width: none;
    max-height: none;
    width: 100%;
    margin: 1em 0px;
    padding: 0px;
    object-fit: contain;
}

.directory-card.column>img {
    display: none;
}

#buttons {
    padding: 1em 0;
    display: flex;
    width: 25vw;
    min-width: 300px;
    height: 4em;
    margin: auto;
}

#buttons button {
    border-radius: var(--border-radius-larger);
    background-color: var(--primary-color);
    border: 2px solid var(--border-color);
    color: var(--background-color);
    width: 100px;
    height: 100%;
    flex: 1;
}

#buttons :first-child {
    margin: 1em 1em 1em 0px;
}

#buttons :last-child {
    margin: 1em 0px 1em 1em;
}

#buttons button:hover {
    background-color: var(--secondary-color);
}

#buttons button.active-button {
    background-color: var(--legend-border-color);
}

/* Dark mode selectiors */

:root.dark {
    --primary-color: #445863;
    --secondary-color: #36434a;
    --background-color: #2c303a;
    --text-color: #ddd2be;
    --border-color: #181f23;
    --complementary-color: #F2AF29;
    --complementary-color-shadow: #ab7f27;
    --weather-gradient-color: #899196;
    --other-background: #3d424e;
    --footer-color: #1c1f25;
}

main.dark {
    background-color: var(--background-color);
}

#site-name.dark {
    color: var(--text-color);
}

#menu-button.dark {
    color: var(--text-color);
}

#menu-button.dark:hover {
    color: var(--secondary-color);
}

#call-to-action.dark {
    color: var(--text-color);
}

nav a.dark {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

nav a.dark:hover {
    background-color: var(--border-color);
}

header p.dark {
    color: var(--text-color);
}

#call-to-action.dark {
    color: var(--border-color);
}

#hero-attribution-container.dark {
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
}

#hero-attribution-container a.dark {
    color: var(--complementary-color);
}

#hero-attribution-container a.dark:visited {
    color: var(--complementary-color-shadow);
}

#events-section h2.dark {
    color: var(--text-color);
}

.event-card.dark {
    box-shadow: 5px 5px 5px var(--border-color);
}

.event-card p.dark {
    color: var(--text-color);
}

#spotlight-members-section {
    background-color: var(--primary-color);
}

#spotlight-members-section h2.dark {
    color: var(--text-color);
}

.member-card.dark {
    background-color: var(--background-color);
}

.member-card p.dark {
    color: var(--text-color);
}

#weather-section.dark {
    padding-bottom: 20px;
}

#weather-section h2.dark {
    color: var(--text-color);
}

footer.dark {
    background-color: var(--footer-color);
    margin: 0px;
    padding: 40px 20px 20px;
}

footer p.dark {
    color: var(--text-color);
}

#last-modified.dark {
    color: var(--text-color);
}

#dicover-side-1.dark p,
#discover-side-2.dark p,
#discover-side-3.dark p {
    padding: 0px;
    margin: 0px;
    color: var(--text-color);
    text-align: left;
}

#discover-side-1.dark>div,
#discover-side-2.dark>div,
#discover-side-3.dark>div {
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    margin: 5%;
    padding: 5%;
}

#discover-header.dark,
h2.dark,
h3.dark,
h4.dark {
    color: var(--text-color);
}

.caption.dark,
.attribution.dark {
    color: var(--text-color);
}

a.dark {
    color: var(--complementary-color);
}

#description-card-container.dark {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.description-card p.dark {
    color: var(--text-color);
}

.wf1.dark {
    color: var(--text-color);
    background-color: var(--secondary-color);
}

h1#membership.dark {
    color: var(--text-color);
}

legend.dark {
    box-shadow: 5px 5px 5px var(--border-color);
}

/* Directory */

.directory-card.dark>img {
    padding: 1em 0;
    background-color: #fff;
    border: 2px solid var(--text-color);
}

.directory-card.column.dark>p.dark,
.directory-card.column.dark>h2.dark {
    color: var(--text-color);
}

.directory-card.column.dark>a.dark {
    color: var(--complementary-color);
}

#directory-card-container.dark>h1 {
    color: var(--text-color);
}

#buttons.dark button.dark {
    color: var(--text-color);
}