/* Dark mode selectiors */

:root.dark {
    --primary-color: #445863;
    --secondary-color: #36434a;
    --background-color: #2c303a;
    --text-color: #ddd2be;
    --border-color: #181f23;
    --complementary-color: #F2AF29;
    --complementary-color-shadow: #ab7f27;
}

main.dark {
    background-color: var(--border-color);
}

body.dark {
    background-color: var(--border-color);
}

#site-name.dark {
    color: var(--text-color);
}

#menu-button.dark {
    color: var(--text-color);
}

#menu-button.dark:hover {
    color: var(--secondary-color);
}

#call-to-action.dark {
    color: var(--text-color);
}

#logo-img.dark {
    filter: brightness(50%);
}

nav a.dark {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav a.dark:hover {
    background-color: var(--border-color);
}

header p.dark {
    color: var(--text-color);
}

#call-to-action.dark {
    color: var(--border-color);
}

#hero-attribution-container.dark {
    text-align: left;
    background-color: var(--background-color);
    color: var(--text-color);
}

#hero-attribution-container a.dark {
    color: var(--complementary-color);
}

#hero-attribution-container a.dark:visited {
    color: var(--complementary-color-shadow);
}

#events-section h2.dark {
    color: var(--text-color);
}

.event-card.dark {
    box-shadow: 5px 5px 5px var(--border-color);
}

.event-card p.dark {
    color: var(--text-color);
}

#spotlight-members-section {
    background-color: var(--primary-color);
}

#spotlight-members-section h2.dark {
    color: var(--text-color);
}

.member-card.dark {
    background-color: var(--background-color);
}

.member-card p.dark {
    color: var(--text-color);
}

#weather-section.dark {
    background-color: var(--border-color);
    padding-bottom: 20px;
}

#weather-section h2.dark {
    color: var(--text-color);
}

footer.dark {
    background-color: #2c303a;
    margin: 0px;
    padding: 40px 20px 20px;
}

footer p.dark {
    color: var(--text-color);
}

#last-modified.dark {
    color: var(--text-color);
}

#dicover-side-1.dark p,
#discover-side-2.dark p,
#discover-side-3.dark p {
    padding: 0px;
    margin: 0px;
    color: var(--text-color);
    text-align: left;
}

#discover-side-1.dark>div,
#discover-side-2.dark>div,
#discover-side-3.dark>div {
    border: 2px solid var(--border-color);
    background-color: var(--background-color);
    margin: 5%;
    padding: 5%;
}

h2.dark,
h3.dark,
h4.dark {
    color: var(--text-color);
}

.caption.dark,
.attribution.dark {
    color: var(--text-color);
}

a.dark {
    color: var(--complementary-color);
}